.*
_*
*.out

!.gitignore
!.gitignore
!.gitmodules

results/*

!results/gene_sequence
results/gene_sequence/*
!results/gene_sequence/codon.fasta
!results/gene_sequence/protein.fasta

!results/variants
results/variants/*
!results/variants/codon_variants.csv

!results/barcode_counts
results/barcode_counts/*
!results/barcode_counts/*_counts.csv

!results/func_scores
results/func_scores/*
!results/func_scores/*_func_scores.csv

!results/func_effects
results/func_effects/*
!results/func_effects/by_selection
results/func_effects/by_selection/*
!results/func_effects/by_selection/*_func_effects.csv
!results/func_effects/averages
results/func_effects/averages/*
!results/func_effects/averages/*_func_effects.csv
!results/func_effects/averages/*_latent_effects.csv

!results/func_effect_shifts
results/func_effect_shifts/*
!results/func_effect_shifts/by_comparison
results/func_effect_shifts/by_comparison/*
!results/func_effect_shifts/by_comparison/*_shifts.csv
!results/func_effect_shifts/averages
results/func_effect_shifts/averages/*
!results/func_effect_shifts/averages/*_shifts.csv

!results/antibody_escape
results/antibody_escape/*
!results/antibody_escape/by_selection
results/antibody_escape/by_selection/*.pickle
results/antibody_escape/by_selection/*.csv
!results/antibody_escape/averages
results/antibody_escape/averages/*
!results/antibody_escape/averages/*_mut_effect.csv
!results/antibody_escape/averages/*_mut_icXX.csv

!results/receptor_affinity
results/receptor_affinity/*
!results/receptor_affinity/by_selection
results/receptor_affinity/by_selection/*.pickle
results/receptor_affinity/by_selection/*.csv
!results/receptor_affinity/averages
results/receptor_affinity/averages/*
!results/receptor_affinity/averages/*_mut_effect.csv
!results/receptor_affinity/averages/*_mut_icXX.csv
