.*
_*
*.out

!.gitignore
!.gitignore
!.gitmodules

results/*

!results/gene_sequence
results/gene_sequence/*
!results/gene_sequence/codon.fasta
!results/gene_sequence/protein.fasta

!results/variants
results/variants/*
!results/variants/codon_variants.csv

!results/barcode_counts
results/barcode_counts/*
!results/barcode_counts/*_counts.csv

!results/func_scores
results/func_scores/*
!results/func_scores/*_func_scores.csv

!results/func_effects
results/func_effects/*
!results/func_effects/by_selection
results/func_effects/by_selection/*
!results/func_effects/by_selection/*_func_effects.csv
!results/func_effects/averages
results/func_effects/averages/*
!results/func_effects/averages/*_func_effects.csv
!results/func_effects/averages/*_latent_effects.csv

!results/func_effect_shifts
results/func_effect_shifts/*
!results/func_effect_shifts/by_comparison
results/func_effect_shifts/by_comparison/*
!results/func_effect_shifts/by_comparison/*_shifts.csv
!results/func_effect_shifts/averages
results/func_effect_shifts/averages/*
!results/func_effect_shifts/averages/*_shifts.csv

!results/antibody_escape
results/antibody_escape/*
!results/antibody_escape/by_selection
results/antibody_escape/by_selection/*.pickle
results/antibody_escape/by_selection/*.csv
!results/antibody_escape/averages
results/antibody_escape/averages/*
!results/antibody_escape/averages/*_mut_effect.csv
!results/antibody_escape/averages/*_mut_icXX.csv

!results/ACE2_binding
results/ACE2_binding/*
!results/ACE2_binding/by_selection
results/ACE2_binding/by_selection/*.pickle
results/ACE2_binding/by_selection/*.csv
!results/ACE2_binding/averages
results/ACE2_binding/averages/*
!results/ACE2_binding/averages/*_mut_effect.csv
!results/ACE2_binding/averages/*_mut_icXX.csv

!results/summaries
results/summaries/*
!results/summaries/summary.csv
!results/summaries/per_antibody_escape.csv

!results/binding_comparison
results/binding_comparison/*
!results/binding_comparison/merged_binding.csv

!results/compare_natural
results/compare_natural/*
!results/compare_natural/*clade_pair_growth.csv
!results/compare_natural/*clade_growth.csv
!results/compare_natural/*.svg

!results/key_sites
results/key_sites/*
!results/key_sites/logoplots
results/key_sites/logoplots/*
!results/key_sites/logoplots/*.svg

!results/binding_vs_escape
!results/binding_vs_escape/*
!results/binding_vs_escape/logoplots
results/binding_vs_escape/logoplots/*
!results/binding_vs_escape/logoplots/*.svg
