[submodule "dms-vep-pipeline-3"]
	path = dms-vep-pipeline-3
	url = https://github.com/dms-vep/dms-vep-pipeline-3
[submodule "MultinomialLogisticGrowth"]
	path = MultinomialLogisticGrowth
	url = https://github.com/MurrellGroup/MultinomialLogisticGrowth
[submodule "SARS2-spike-predictor-phenos"]
	path = SARS2-spike-predictor-phenos
	url = https://github.com/jbloomlab/SARS2-spike-predictor-phenos
